In [1]:
path="/Users/gunnvantsaini/Documents/Work/Machine Learning Course/Python/Module 12 Scrapping/code/html.html"
#con=open(path,'r',encoding='utf-8')
con=open(path,'r')
html=con.read()
con.close()

In [2]:
print(html)

<!DOCTYPE html>

<html>
    <head>
        <title>GETTING STARTED WITH bs4</title>
    </head>
    <div class="para 1">
        <p>
            This is paragraph one
        </p>
        <p>
            This is paragraph two
        </p>
    </div>
    <div class='para 2'>
        <p>
            This is para 1 in div 2
        </p>

    </div>
    <div class="para 1">
        <p>
            This is paragraph three of div with class para 1
        </p>
        <p>
            This is paragraph four of div with class para 1
        </p>
    </div>

</html>

In [3]:
html[0:5]

'<!DOC'

In [4]:
## Make html parsable
# !pip install bs4
from bs4 import BeautifulSoup

In [5]:
html_parsable=BeautifulSoup(html,'html.parser')

In [6]:
html_parsable.title

In [7]:
html_parsable.title.text

'GETTING STARTED WITH bs4'

In [8]:
html_parsable.div

<div class="para 1">
<p>
            This is paragraph one
        </p>
<p>
            This is paragraph two
        </p>
</div>

In [9]:
html_parsable.find_all("div")

[<div class="para 1">
 <p>
             This is paragraph one
         </p>
 <p>
             This is paragraph two
         </p>
 </div>, <div class="para 2">
 <p>
             This is para 1 in div 2
         </p>
 </div>, <div class="para 1">
 <p>
             This is paragraph three of div with class para 1
         </p>
 <p>
             This is paragraph four of div with class para 1
         </p>
 </div>]

In [10]:
html_parsable.find_all("div",class_="para 1")

[<div class="para 1">
 <p>
             This is paragraph one
         </p>
 <p>
             This is paragraph two
         </p>
 </div>, <div class="para 1">
 <p>
             This is paragraph three of div with class para 1
         </p>
 <p>
             This is paragraph four of div with class para 1
         </p>
 </div>]

In [11]:
all_d=html_parsable.find_all("div",class_="para 1")

In [19]:
all_d[0].find_all("p")

[<p>
             This is paragraph one
         </p>, <p>
             This is paragraph two
         </p>]

In [20]:
all_d[1].find_all("p")

[<p>
             This is paragraph three of div with class para 1
         </p>, <p>
             This is paragraph four of div with class para 1
         </p>]

In [26]:
for i in all_d:
    paras=i.find_all("p")
    print(paras[1].text.strip())

This is paragraph two
This is paragraph four of div with class para 1

In [27]:
### Can you store 2nd para in divs with class para1?
para_list=[]
for i in all_d:
    paras=i.find_all("p")
    para_list.append(paras[1].text.strip())

In [28]:
para_list

['This is paragraph two', 'This is paragraph four of div with class para 1']

#### How to pretend to be browser
- Simple browser (get request)
- Full flegged browser (headless browser)

In [29]:
import requests ### simulate a simple browser

In [37]:
url="https://www.goodreads.com/quotes"
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
resp=requests.get(url,headers=headers).text

In [38]:
soup=BeautifulSoup(resp,'html.parser')

In [58]:
a=[]
for i in soup.find_all("span",class_="authorOrTitle"):
    a.append(i.text.strip())

In [57]:
l=[]
for i in soup.find_all("a",class_="smallText"):
    l.append(i.text.strip().split(" ")[0])

In [53]:
q=[]
for i in soup.find_all("div",class_="quoteText"):
       q.append(list(i.children)[0].strip())

In [59]:
import pandas as pd
table=pd.DataFrame({'author':a,'quote':q,'likes':l})

In [60]:
table.head()

            author                                              quote   likes
0        Dr. Seuss  “Don't cry because it's over, smile because it...  193424
1   Marilyn Monroe  “I'm selfish, impatient and a little insecure....  148553
2      Oscar Wilde     “Be yourself; everyone else is already taken.”  146362
3  Albert Einstein  “Two things are infinite: the universe and hum...  129931
4      Frank Zappa                   “So many books, so little time.”  125380

In [75]:
### Put all this logic in a function which accepts the url of the page and returns a df with information
def get_data(url):
    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
    resp=requests.get(url,headers=headers).text
    soup=BeautifulSoup(resp,'html.parser')
    a=[]
    for i in soup.find_all("span",class_="authorOrTitle"):
        a.append(i.text.strip())
    l=[]
    for i in soup.find_all("a",class_="smallText"):
        l.append(i.text.strip().split(" ")[0])
    q=[]
    for i in soup.find_all("div",class_="quoteText"):
        q.append(list(i.children)[0].strip())
    table=pd.DataFrame({'author':a,'quote':q,'likes':l})
    return table

In [62]:
url="https://www.goodreads.com/quotes"
get_data(url=url)

,author,quote,likes
0,Dr. Seuss,"“Don't cry because it's over, smile because it...",193424
1,Marilyn Monroe,"“I'm selfish, impatient and a little insecure....",148553
2,Oscar Wilde,“Be yourself; everyone else is already taken.”,146362
3,Albert Einstein,“Two things are infinite: the universe and hum...,129932
4,Frank Zappa,"“So many books, so little time.”",125380
5,Bernard M. Baruch,"“Be who you are and say what you feel, because...",119706
6,Marcus Tullius Cicero,“A room without books is like a body without a...,118664
7,William W. Purkey,"“You've gotta dance like there's nobody watching,",117370
8,Dr. Seuss,“You know you're in love when you can't fall a...,114064
9,Mae West,"“You only live once, but if you do it right, o...",106763
10,Mahatma Gandhi,“Be the change that you wish to see in the wor...,105219
11,Robert Frost,“In three words I can sum up everything I've l...,99283
12,"J.K. Rowling,","“If you want to know what a man's like, take a...",95048
13,Albert Camus,“Don’t walk in front of me… I may not follow,84974
14,"Eleanor Roosevelt,",“No one can make you feel inferior without you...,84446
15,"C.S. Lewis,",“Friendship ... is born at the moment when one...,83585
16,Mark Twain,"“If you tell the truth, you don't have to reme...",83079
17,Maya Angelou,“I've learned that people will forget what you...,78062
18,Elbert Hubbard,“A friend is someone who knows all about you a...,77927
19,Oscar Wilde,“Always forgive your enemies; nothing annoys t...,74866
20,Oscar Wilde,“To live is the rarest thing in the world. Mos...,72848
21,Mahatma Gandhi,“Live as if you were to die tomorrow. Learn as...,72101
22,"Martin Luther King Jr.,",“Darkness cannot drive out darkness: only ligh...,71458
23,"Oscar Wilde,",“I am so clever that sometimes I don't underst...,67114
24,"Friedrich Nietzsche,","“Without music, life would be a mistake.”",66163
25,Ralph Waldo Emerson,“To be yourself in a world that is constantly ...,64610
26,"Stephen Chbosky,",“We accept the love we think we deserve.”,64564
27,Rob Siltanen,“Here's to the crazy ones. The misfits. The re...,64441
28,Narcotics Anonymous,"“Insanity is doing the same thing, over and ov...",60692
29,Marilyn Monroe,“I believe that everything happens for a reaso...,59382

In [67]:
base_url="https://www.goodreads.com/quotes?page={}"

In [68]:
base_url.format(2)

'https://www.goodreads.com/quotes?page=2'

In [76]:
master={}
from tqdm import tqdm
for i in tqdm(range(1,101)):
    url=base_url.format(i)
    master[i]=get_data(url)

100%|██████████| 100/100 [04:47<00:00,  2.88s/it]

In [81]:
big_table=pd.concat([master[i] for i in master],axis=0)

In [82]:
### Class excercise
url="https://www.goodreads.com/list/show/19.Best_for_Book_Clubs"
resp=requests.get(url,headers=headers).text
soup=BeautifulSoup(resp,'html.parser')

In [86]:
title=[]
for i in soup.find_all("a",class_="bookTitle"):
    title.append(i.text.strip())

In [87]:
title=[]
for i in soup.find_all("span",attrs={'role':'heading'}):
    title.append(i.text.strip())

In [89]:
author=[]
for i in soup.find_all("a",class_="authorName"):
    author.append(i.text.strip())

In [94]:
import re
pattern=re.compile(r'\d\.\d{2}')
rating=[]
for i in soup.find_all("span",class_="minirating"):
    rating.append(re.findall(pattern,i.text.strip())[0])

In [95]:
def get_data(url):
    resp=requests.get(url,headers=headers).text
    soup=BeautifulSoup(resp,'html.parser')
    title=[]
    for i in soup.find_all("a",class_="bookTitle"):
        title.append(i.text.strip())
    author=[]
    for i in soup.find_all("a",class_="authorName"):
        author.append(i.text.strip())
    rating=[]
    for i in soup.find_all("span",class_="minirating"):
        rating.append(re.findall(pattern,i.text.strip())[0])
    table=pd.DataFrame({'title':title,'author':author,'rating':rating})
    return table

In [98]:
base_url="https://www.goodreads.com/list/show/19.Best_for_Book_Clubs?page={}"
master={}
for i in tqdm(range(1,11)):
    url=base_url.format(i)
    master[i]=get_data(url)

100%|██████████| 10/10 [00:55<00:00,  5.50s/it]

In [99]:
big_table=pd.concat([master[i] for i in master],axis=0)

In [100]:
big_table.head()

                                               title            author rating
0                                           The Help  Kathryn Stockett   4.46
1                                    The Kite Runner   Khaled Hosseini   4.29
2                                Water for Elephants        Sara Gruen   4.08
3                                     The Book Thief      Markus Zusak   4.37
4  To Kill a Mockingbird (To Kill a Mockingbird, #1)        Harper Lee   4.27

In [101]:
### Naukari scrapper
url="https://www.naukri.com/data-science-jobs"
resp=requests.get(url,headers=headers).text
print(resp)

<!DOCTYPE html>

<html>
  <head>
    <title>Naukri reCAPTCHA</title>
    <meta name="robots" content="noindex, nofollow">
        <link rel="stylesheet" href="https://static.naukimg.com/s/4/101/c/common_v62.min.css" />
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </head>
    <body>
        <div class="headGNBWrap">
            <div itemscope="" itemtype="https://schema.org/Organization" class="headGNB cloneCont wrap"><a itemprop="url" class="nLogo fl" href="#" data-ga-track="Company Logo|Company Logo"><img itemprop="logo" src="https://static.naukimg.com/s/4/100/i/naukri_Logo.png" alt="Naukri.com, Indiaâs No.1 Job Site"></a>
            </div>
        </div>
        <div class="wrap">
            <div class="mainSec">
                <form action="" method="POST">
                    <div class="g-recaptcha" data-sitekey="6Lfr8SEUAAAAACgWL1C--Pup9o8uBElCNXYZ4vfL"></div>
                    <br/>
                    <input type="submit" value="Submit" class="blueBtn">
                </form>
            </div>
        </div>
    </body>
</html>

In [ ]:
# !pip install selenium, for ppl on windows
from selenium import webdriver
import os
path_tounzipfile=""
os.chdir(path_tounzipfile)
browser=webdriver.Firefox(path_tounzipfile)

In [102]:
from selenium import webdriver
browser=webdriver.Firefox()

In [103]:
url="https://www.naukri.com/data-science-jobs"
browser.get(url)

In [105]:
html=browser.page_source

In [106]:
soup=BeautifulSoup(html,'html.parser')

In [107]:
## Title
## Compname
## Exp
## Location
## Salary

In [110]:
title=[]
for i in soup.find_all("li",class_="desig"):
    title.append(i.text)

In [112]:
company=[]
for i in soup.find_all("span",class_="org"):
    company.append(i.text)

In [114]:
exp=[]
for i in soup.find_all("span",class_="exp"):
    exp.append(i.text)

In [116]:
loc=[]
for i in soup.find_all("span",class_="loc"):
    loc.append(i.text)

In [118]:
salary=[]
for i in soup.find_all("span",class_="salary"):
    salary.append(i.text)

In [119]:
table=pd.DataFrame({'title':title,'org':company,'exp':exp,'loc':loc,'salary':salary})

In [121]:
table.head()

,title,org,exp,loc,salary
0,Data Scientist,GREAT LAKES E-LEARNING SERVICES PRIVATE LIMITED,1-6 yrs,Gurgaon,"INR 12,00,000 - 19,00,000 PA."
1,Big Data Engineer - Python_aws_ Pyspark - Imme...,TEKsystems Global Services Private Limited,4-8 yrs,Bengaluru,Not disclosed
2,Feshers- Be - MNC VP,Value C Consulting Services Private Limited,0-5 yrs,Bengaluru,"INR 4,00,000 - 6,50,000 PA."
3,Data Scientist,Nihilent Limited,12-15 yrs,Pune,Not disclosed
4,Manager - Analytics - Deep Machine Learning - ...,Huquo Consulting Pvt. Ltd,5-10 yrs,Gurgaon,Not disclosed

In [122]:
url="https://www.naukri.com/data-science-jobs"
browser.get(url)

In [123]:
btns=browser.find_elements_by_class_name("grayBtn")

In [124]:
len(btns)

1

In [126]:
btns[0].click()

In [127]:
btns=browser.find_elements_by_class_name("grayBtn")

In [128]:
len(btns)

2

In [129]:
for i in btns:
    print(i.text)

Previous
Next

In [130]:
for i in btns:
    if i.text=="Next":
        i.click()

In [133]:
def get_data(html):
    soup=BeautifulSoup(html,'html.parser')
    title=[]
    for i in soup.find_all("li",class_="desig"):
        title.append(i.text)
    company=[]
    for i in soup.find_all("span",class_="org"):
        company.append(i.text)
    exp=[]
    for i in soup.find_all("span",class_="exp"):
        exp.append(i.text)
    loc=[]
    for i in soup.find_all("span",class_="loc"):
        loc.append(i.text)
    salary=[]
    for i in soup.find_all("span",class_="salary"):
        salary.append(i.text)
    table=pd.DataFrame({'title':title,'org':company,'exp':exp,'loc':loc,'salary':salary})
    return table

In [134]:
url="https://www.naukri.com/data-science-jobs"
browser.get(url)
html=browser.page_source
master={}
master[0]=get_data(html)
btns=browser.find_elements_by_class_name("grayBtn")
btns[0].click()
for i in range(1,3):
    btns=browser.find_elements_by_class_name("grayBtn")
    html=browser.page_source
    master[i]=get_data(html)
    for btn in btns:
        if btn.text=="Next":
            btn.click()

In [136]:
big_table=pd.concat([master[i] for i in master],axis=0)