In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
#import os
#path_to_gecko=""
#os.chdir(path_to_gecko)
#browser=webdriver.Firefox(path_to_gecko)
browser=webdriver.Firefox()
url="https://www.imdb.com/chart/toptv/?ref_=nv_tvv_250"
browser.get(url)

In [2]:
html=browser.page_source
soup=BeautifulSoup(html,'html.parser')

In [3]:
tables=soup.find_all("table",class_="chart full-width")

In [4]:
len(tables)

1

In [5]:
rows=tables[0].find_all("tr")

In [6]:
rows[0]

<tr>
<th></th>
<th>Rank &amp; Title</th>
<th>IMDb Rating</th>
<th>Your Rating</th>
<th></th>
</tr>

In [12]:
rows[1].find_all("td")[1].a.text

'Planet Earth II'

In [13]:
rows[1].find_all("td")[1].span.text

'(2016)'

In [15]:
rows[1].find_all("td")[2].strong.text

'9.5'

In [19]:
title=[]
year=[]
rating=[]
for i in rows[1:]:
    title.append(i.find_all("td")[1].a.text)
    year.append(i.find_all("td")[1].span.text)
    rating.append(i.find_all("td")[2].strong.text)

In [20]:
import pandas as pd
table=pd.DataFrame({'title':title,'year':year,'rating':rating})

In [24]:
table['year']=table['year'].str.replace("(","").str.replace(")","").astype('float')

In [25]:
table.head()

              title    year rating
0   Planet Earth II  2016.0    9.5
1      Planet Earth  2006.0    9.4
2  Band of Brothers  2001.0    9.4
3         Chernobyl  2019.0    9.4
4      Breaking Bad  2008.0    9.4

In [26]:
### Wikipedia Scrape
url="https://en.wikipedia.org/wiki/List_of_terrorist_incidents_in_August_2019"
browser.get(url)
html=browser.page_source
soup=BeautifulSoup(html,'html.parser')

In [29]:
tables=soup.find_all("table",class_="wikitable")

In [30]:
len(tables)

1

In [31]:
rows=tables[0].find_all("tr")

In [49]:
date=[]
typ=[]
dead=[]
inj=[]
loc=[]
det=[]
perp=[]
part=[]
for i in rows[1:]:
    tds=i.find_all("td")
    date.append(tds[0].text.strip())
    typ.append(tds[1].text.strip())
    dead.append(tds[2].text.strip())
    inj.append(tds[3].text.strip())
    loc.append(tds[4].text.strip())
    det.append(tds[5].text.strip())
    perp.append(tds[6].text.strip())
    part.append(tds[7].text.strip())

In [51]:
table=pd.DataFrame({'date':date,'type':typ,'dead':dead, \
                   'injured':inj,'location':loc,'details':det, \
                   'perpetrator':perp,'partof':part})

In [53]:
table.head(1)

,date,type,dead,injured,location,details,perpetrator,partof
0,1,Suicide car bombing,13 (+1),Dozens,"Aden, Yemen",A suicide car bomber blew himself up outside a...,Islamic State,Yemeni Civil War

In [95]:
def get_data(url):
    browser.get(url)
    html=browser.page_source
    soup=BeautifulSoup(html,'html.parser')
    tables=soup.find_all("table",class_="wikitable")
    rows=tables[0].find_all("tr")
    date=[]
    typ=[]
    dead=[]
    inj=[]
    loc=[]
    det=[]
    perp=[]
    part=[]
    for i in rows[1:]:
        tds=i.find_all("td")
        date.append(tds[0].text.strip())
        typ.append(tds[1].text.strip())
        dead.append(tds[2].text.strip())
        inj.append(tds[3].text.strip())
        loc.append(tds[4].text.strip())
        det.append(tds[5].text.strip())
        perp.append(tds[6].text.strip())
        try:
            part.append(tds[7].text.strip())
        except:
            part.append("Data not Available")
    table=pd.DataFrame({'date':date,'type':typ,'dead':dead, \
                   'injured':inj,'location':loc,'details':det, \
                   'perpetrator':perp,'partof':part})
    table['url']=url
    return table

In [96]:
url="https://en.wikipedia.org/wiki/List_of_terrorist_incidents_in_July_2019"

In [97]:
get_data(url)

,date,type,dead,injured,location,details,perpetrator,partof,url
0,1,"Car bombing, shooting",40 (+5),100+,"Kabul, Afghanistan","1 July 2019 Kabul attack: 40 people, 6 securit...",Taliban,War in Afghanistan,https://en.wikipedia.org/wiki/List_of_terroris...
1,3,Attack,7,0,"Cabo Delgado Province, Mozambique",Islamist insurgents killed six civilians and a...,Islamic State,Islamist insurgency in Mozambique,https://en.wikipedia.org/wiki/List_of_terroris...
2,3,Attempted suicide bombing,0,0 (+1),"Kabul, Afghanistan",Security forces shot and arrested a suicide bo...,Unknown,War in Afghanistan,https://en.wikipedia.org/wiki/List_of_terroris...
3,5,Bombing,2,20,"Ghazni, Afghanistan",At least two people were killed and over 20 in...,Islamic State,War in Afghanistan,https://en.wikipedia.org/wiki/List_of_terroris...
4,5,Car bombing,3,0,"Reyhanlı, Turkey",2019 Reyhanlı car bombing: A car bombing attac...,Grey Wolves (organization) (suspected),Terrorism in Turkey,https://en.wikipedia.org/wiki/List_of_terroris...
5,7,"Bombing, shootings",0,4,"Khanaqin, Iraq",A bombing damaged a truck near Khanaqin. After...,Islamic State,Iraqi insurgency,https://en.wikipedia.org/wiki/List_of_terroris...
6,11,Bombing,0,11,"Qamishli, Syria",A car bomb exploded near a church in the Chris...,Islamic State,Syrian Civil War,https://en.wikipedia.org/wiki/List_of_terroris...
7,11,Car bombing,13,30+,"Afrin, Syria",A car bombing occurred on a Turanda highway ch...,Islamic State,Syrian Civil War,https://en.wikipedia.org/wiki/List_of_terroris...
8,12,Suicide bombing,5–10,40,"Pachir Aw Agam District, Afghanistan",5-10 people are killed when a child suicide bo...,Islamic State (suspected),War in Afghanistan,https://en.wikipedia.org/wiki/List_of_terroris...
9,12,"Suicide car bombing, shooting",26 (+4),56,"Kismayo, Somalia",Asasey hotel attack: Four gunmen storm the Asa...,Al-Shabaab,Somali Civil War (2009–present),https://en.wikipedia.org/wiki/List_of_terroris...
10,15,Bombing,11,35,"Khakrez District, Kandahar, Afghanistan",11 pilgrims are killed and another 35 injured ...,Taliban (suspected),War in Afghanistan,https://en.wikipedia.org/wiki/List_of_terroris...
11,15,Bombing,14,unknown,"Pul-e-Alam, Logar, Afghanistan",3 Taliban fighters and 11 civilians die from a...,Taliban,War in Afghanistan,https://en.wikipedia.org/wiki/List_of_terroris...
12,15,Suicide bombings,5 (+2),14,"Baghdad, Iraq",Five people were killed and 14 others were inj...,Islamic State (suspected),Iraqi insurgency,https://en.wikipedia.org/wiki/List_of_terroris...
13,19,Bombing,8,33,"Kabul, Afghanistan",Kabul University bombing: A bombing at Kabul U...,Unknown,War in Afghanistan,https://en.wikipedia.org/wiki/List_of_terroris...
14,24,Suicide Bombing,7 (+1),9,"Mogadishu, Somalia",24 July 2019 Mogadishu bombing: A blind female...,Al-Shabaab,Somali Civil War (2009–present),https://en.wikipedia.org/wiki/List_of_terroris...
15,25,Bombings,15,45,"Kabul, Afghanistan",25 July 2019 Kabul bombings: A triple bombing ...,Islamic State (suspected),War in Afghanistan,https://en.wikipedia.org/wiki/List_of_terroris...
16,25,Bombing,6–10,3–6,"Khogyani District, Nangarhar, Afghanistan",6-10 people are killed and 3-6 injured when a ...,Unknown,War in Afghanistan,https://en.wikipedia.org/wiki/List_of_terroris...
17,27,Shooting,65,10,"Nganzai, Nigeria",Nganzai funeral attack: 65 people were killed ...,Boko Haram,Boko Haram insurgency,https://en.wikipedia.org/wiki/List_of_terroris...
18,31,Bombing,35,27,"Farah, Afghanistan",2019 Farah bombing: A roadside bomb kills 35 a...,Taliban,War in Afghanistan,https://en.wikipedia.org/wiki/List_of_terroris...

In [57]:
link='''<li><a href="/wiki/Sri_Lanka_and_state_terrorism" title="Sri Lanka and state terrorism">Sri Lanka</a></li>'''

In [66]:
li=BeautifulSoup(link,'html.parser')

In [67]:
li.a['href']

'/wiki/Sri_Lanka_and_state_terrorism'

In [68]:
url="https://en.wikipedia.org/wiki/List_of_terrorist_incidents"
browser.get(url)
html=browser.page_source
soup=BeautifulSoup(html,'html.parser')

In [70]:
divs=soup.find_all("div",class_="div-col columns column-width")

In [71]:
len(divs)

2

In [77]:
partial_links=[]
for i in divs[0].find_all("li"):
    partial_links.append(i.a['href'])

In [79]:
partial_links=pd.Series(partial_links)

In [82]:
partial_links[partial_links=="/wiki/List_of_terrorist_incidents_in_January_2015"]

49    /wiki/List_of_terrorist_incidents_in_January_2015
dtype: object

In [88]:
base_url="https://en.wikipedia.org{}"

In [98]:
master={}
for i in partial_links.iloc[49:]:
    url=base_url.format(i)
    master[i]=get_data(url)

In [99]:
total=pd.concat([master[i] for i in master],axis=0)

In [121]:
def get_month(x):
    return x.split("_")[-2]

In [124]:
#list(map(get_month,total['url'].tolist()))

In [117]:
total['month']=total['url'].map(lambda x: x.split("_")[-2])

In [113]:
total['year']=total['url'].map(lambda x: x.split("_")[-1])

In [126]:
total['country']=total['location'].map(lambda x:x.split(",")[-1])

In [132]:
import re

In [135]:
pattern=re.compile(r'\d{1,4}')

In [141]:
import numpy as np
def get_numbers(x):
    match=re.findall(pattern,x)
    if len(match)==0:
        return np.nan
    elif len(match)>1:
        return float(match[-1])
    else:
        return float(match[0])

In [143]:
total['d_cleaned']=total['dead'].map(get_numbers)

In [144]:
total.groupby('month')['d_cleaned'].mean()

month
April        4.916933
August       4.794275
December     3.811723
February     4.892628
January      8.060484
July         5.147193
June         6.696406
March        4.584691
May          5.441420
November     6.040268
October      7.601386
September    4.708333
Name: d_cleaned, dtype: float64

In [146]:
total['injured'].unique()

array(['10+', '3', '2', '0', 'Unknown', '6', '4', '8', '31', 'n/a', '5',
       '21', '1', '66', '11', '9', '36', '20+', '46', '18', '12', '',
       '48', '108', '500+', '17', '26', '60', '19', '10–12', '7',
       'unknown', '139', 'Dozens', '1 (+2)', '70', '40+', '10', '351',
       '25', '28', '79', '45', '55', '20', '1 (+1)', '115', '14 (+2)',
       '16', '15', '37', '30', '13', '42', '90+', '63', '27', '100', '40',
       '300+', '24', '227', '34', '51', '22', '67+', '32', '80', '81',
       '130', '104', '50', '3 (+1)', '80+', '212', '101+', '123', '29',
       '60+', '100+', '92', '70+', '97-150+', '36+', 'Unknown1 kidnapped',
       '33', '41', '508', '15 (+1)', '4 (+1)', '96', '50–80', '14',
       '1(+1)', '240', '368', '123+', '2 (+1)', '23', '90', '35', '54',
       '11 (+1)', '3–12', '85', '50+', '35+', '200', '56+', '65', '110',
       '58', '8-14', '78', '4 (+3)', '61', '112', '11+', '180', '38',
       '2-10', '0(+1)', '2 (+2)', '95', 'Unknown (+6)', '800+', '125',
       '340', '300 kidnapped', '52', '2 (+6)', '347', '86', '75',
       '45-60+', '8-9', 'Hundreds', '16+', '5+', '87', '12+', '30+',
       'Unknown (over 29)', '194+', '2+', '10 (4 critical)',
       '5 (disputed)', '~15', '3+', 'Around 220 kidnapped', 'Unknwon',
       'Unlnown', '67', '37+', '90 arrested', '18 (+1)',
       '42+ more kidnapped', '32+', '93', '~60', '6 (+7)', '53',
       '7-"dozens"', '1+ (4 or "several" kidnapped, vigilante injured)',
       '8+', '4+', '7+', 'Several', 'Unknown (210 kidnapped)[140]',
       'dozens', '27+', '25+', '91', '15+', '239', '15 kidnapped',
       '"dozens"', '246+', '9+', '75+', '0 (+1)', '143+', 'Unknown (+5)',
       '6+', '434', 'Unknown (+25)', '5 kidnapped', '0 (+2)', '260+',
       'Unknown (+9)', '171+', '24+', '19+', '1 kidnapping', '77 (+3)',
       '20-70', '25-33', '5 (+?)', '0 (+6)', 'Unknown (+10)',
       'Unknown injured, over 3000 kidnapped', '130+', '1 (1)', '217',
       '4 Kidnapped', '~28', '109', '39', '39[35]', '2 Kidnapped',
       '10-13', '5-10', '32 (+1)', '21+', '6 (+unknown)', '52+',
       '0 (+16)', '1 Kidnaped', '57', '25-30', '1 kidnapped', '44+',
       '3 Missing', '4 Captured', '133+', '117+', '8 (+Unknown)',
       '0 (+32)', 'Unknown (+Unknown)', '4+ kidnapped', '119',
       '6 kidnapped', '102+', '1+', '30 (+17)', '38+', '177', '155', '47',
       '2 (+?)', '56', '3 (3 Captured)', '122', '43+', '6 (+1)', '14+',
       '7 kidnapped', '63+', '120+', '0 (+Unknown)', '13+',
       '2 Disappeared', '64', '10-12', '160+', '4 kidnapped',
       '0 (+4 captured)', '6 (+4 kidnapped)', '?', '2 kidnapped', '76',
       '800+\xa0[138]', '413+', '118', '200+', '3 kidnapped', '26+',
       '3 (+7)', '83', '152', '1 (+3)', '4 (+4)', '43', '316', '158+',
       'At least 13', '140', '15 (+25)', 'Dozens (+21)', '128+', '+1',
       '1 (+dozens)', '3 Kidnapped', '1 Kidnapped', '31 abducted', '105',
       '235', '44', '143', '84', '120', '170', '+8', '+20', '5 Kidnapped',
       '+4', '0 (+15)', '156', '5 (+3)', '186', '107', '9 (+Several)',
       '+1 (+Unknown)', '6 Kidnapped', '7 (+1)', '13 (abducted)',
       '7 Kidnapped', '25 (abducted)', '6 (+14)', '27 (+many)', '165',
       '30 Kidnapped', '17(+6)', 'Several (+16)', '3 (abducted)',
       '1 (abducted)', '157', '2 (kidnapped)', '7 (kidnapped)',
       '14 (kidnapped)', '15 Kidnapped', '6 (kidnapped)', '62',
       '12 (kidnapped)', '125 (kidnapped)', '18 (kidnapped)', '106',
       '10 (kidnapped)', '2 (+5)', '15 (kidnapped)', '0 (+several)',
       '16 (missing)', '0 (+3)', '11 (+8)', '1 Kidnapping', '+26',
       '5 (kidnapped)', '19 (+3)', '35 (missing)', '13 Kidnapped',
       '2 (+16)', '3 (+5)', '153', '50 (kidnapped)', '9 Kidnapped', '94',
       '+12 Kidnapped', '10 (+8)', '8 (+12)', '+14 Kidnapped', '2 (+3)',
       '5(+3)', '13 (+dozens)', '9 (+10)', '3 (+several)', '113',
       '3 (+2)', '68', '4 (+unknown)', '4 (+several)', '16 (+1)', '58–70',
       '2 (+13)', '0 (+21)', '102', '7 (+13)', '0 (+5)', '5 (+5)',
       '9 (+7)', '12 abducted', '2 (+9)', '6 (+8)', '176', '49',
       '14 (+1)', '7–8', '~22', '7 (+Unknown)', '2 (+Unknown)',
       '270–400+', '3-10', '11 (+Unknown)', '6[111]', '3 (+12)',
       'several', '+Several', '33 (+13)', '11-15', '3 (+4)', '11 (+3)',
       '7 (+3)', '4 (+5)', '3 (+Unknown)', '7 (abducted)',
       '10 (abducted)', '650+', '7 (+?)', '6 (+?)', '5 (abducted)',
       '26 (+1)', '10 Kidnapped', '1 (+Unknown)', '1 (+1 Kidnapped)',
       '16 (+?)', '8 (+?)', '10 (+Unknown)', '17 (+?)', '3–6', '140+',
       '142', '2 (+8)', '12 kidnapped', '40 (+13)', '6 (+5)'],
      dtype=object)

In [147]:
pattern=re.compile(r'\d{1,3}')

In [160]:
def get_numb(x):
    match=re.findall(pattern,x)
    if len(match)==0:
        return np.nan
    elif len(match)==1:
        return float(match[0])
    else:
        match=np.array(match,dtype='float')
        return match.mean()

In [162]:
total['inj_c']=total['injured'].map(get_numb)

In [164]:
total.groupby('month')['inj_c'].mean().round(2)

month
April         8.75
August       10.45
December      7.29
February      8.89
January       7.89
July         10.37
June         11.08
March        10.00
May           9.43
November      9.04
October       8.93
September     8.68
Name: inj_c, dtype: float64

In [165]:
url="https://www.oyorooms.com/hotels-in-coimbatore/"
browser.get(url)
html=browser.page_source
soup=BeautifulSoup(html,'html.parser')

In [167]:
for i in soup.find_all("h3",class_="listingHotelDescription__hotelName d-textEllipsis"):
    print(i.text)

OYO Flagship 30395 Tulip Towers Saravanampatti
OYO Townhouse 124 Srm
SilverKey Executive Stays 17281 Athithi Inn Deluxe
OYO 30971 GM Grande
OYO Flagship 26714 Sri Balaji Castle
OYO 12746 Hotel Sapthagiri Nest
OYO Flagship 20034 Mettupalayam Highway
OYO Flagship 36422 Hotel Maruthi
OYO 10551 Hotel RJ Grand
OYO Townhouse 174 Near Senthil Kumaran Theater
OYO 13858 Rithus Residency
OYO 22536 Vishaak Inn
OYO 46633 Hotel Sree Saravanan Bhavan
Capital O 14406 Hotel Subashree
OYO 11669 Abrigo City Centre Gandhipuram
OYO 15442 Mahalakshmi Suites Deluxe
OYO Flagship 31042 Sunil Residency
OYO Flagship 35720 Sai Renu
OYO 15427 Hotel Apple Grand Deluxe
OYO 28428 Ruthira Residency

In [169]:
for i in soup.find_all("span",attrs={'itemprop':'streetAddress'}):
    print(i.text)

Near SNS Engineering college, Coimbatore
Near Tatabad, Coimbatore
Near Aathi Maaruthi, Vetri Vinayagar Nagar, Coimbatore
Near Karpagam University, Madukkarai market, Coimbatore
Near Vconnect Media, Coimbatore
Coimbatore, Coimbatore
Kurudampalayam, Coimbatore
Near Gandhi Park, Coimbatore
TV Swamy Road, West RS Puram,Coimbatore
Near Bus Stand, Ram Nagar, Coimbatore
Near JP Hospital, Coimbatore
Near Ganapathy Bus Stop, Ganapathypudur, Coimbatore
Near Mettupalayam Bus Stand, Coimbatore
Ram Nagar, Coimbatore
Near Gandhipuram Bus Stand, Coimbatore
Near Coimbatore Public School, Coimbatore
Near Balaji Nagar, Coimbatore
Near Arun Nagar Park, Coimbatotre
4th Extension, 100 Feet Road, Coimbatore
Near Tidel Park, Peelamedu, Coimbatore

In [171]:
for i in soup.find_all("meta",attrs={'itemprop':'ratingValue'}):
    print(i['content'])

4.2
4.4
4.4
4.4
4.3
4.3
4.2
4.3
4
4.5
3.8
4.4
3.7
4.3
3.9
4.2
4.2
4.4
4
4.6

In [173]:
for i in soup.find_all("span",class_="listingPrice__finalPrice"):
    print(i.text)

₹673
₹1010
₹1010
₹918
₹673
₹818
₹673
₹706
₹1222
₹1010
₹878
₹852
₹826
₹1264
₹905
₹895
₹673
₹673
₹1010
₹852